
body {
	margin: 10px;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: hsl(0, 0%, 4%);
	
}

head{
	color: black;
}

button {
    background-color: #f4f6f4; 
    border: none;
    color: rgb(9, 9, 9);
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
	border-radius: 10px;	
}

.buton1{
	margin: 20px;
	padding: 10px;
	cursor: pointer;
    border: 1px solid #42db34;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #edf1f4;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(249, 246, 246, 0.6);
}
.buton2{
	margin: 20px;
	padding: 10px;
	height: 50px;
	cursor: pointer;
	font-size: 1.5em;
	border: 1px solid #42db34;
	box-shadow: 0 6px 6px rgba(249, 246, 246, 0.6);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
	height: 50px;
	
	border-bottom: 1px solid #ebeef0;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

nav .search-box {
	flex: 1;
	margin-left: 10px;
  display: contents;
}

input {
    margin-top: 0.5rem;
	padding: 5px 140px;
	height: 10px;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: rgb(7, 7, 7);
	padding: 2px;
}

.hijo{
  display: flex;
  background: #26a4da;
  padding: 10px;
  height: 90px;
  width: 100%;
}

.padre{
  display: flex;
  
}
h1{
	color: #ebeef0;
	font-family: cursive;
}
h3{
	color: #edf0f1;
	font-family: cursive;
}
h5 {
	color: #ebeef0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #120392;
  color: rgb(227, 221, 221);

}
td {
	background-color: #1da1f2;
}

 



.tweet-box {
	
	padding: 2px;
}

.tweet-box form {
	display: flex;
	flex-direction: column;
}


.main {
	margin: 0 auto;
	max-width: 600px;
}


.tweet {
	border-left: 1px solid #ebeef0;
	padding: 10px;
	display: flex;
}

.tweet .avatar {
	margin-right: 10px;
	color: #1da1f2;
	width: 100px;
	height: 120px;

}
.tweet .avat{
	width: 30px;
	height: 30px;
	
}

.tweet .content {
	flex: 1;
}

.tweet .content .name {
	font-weight: bold;
	color: #fff;
}

.tweet .content .username {
	color: #edf0f1;
	margin-right: 5px;
}

.tweet .content .timestamp {
	color: #f9fbfd;
}

.tweet .content .message {
	margin-top: 5px;
	color: #f3f5f6;
	
}

.tweet .actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5px;
	
}

.tweet .actions button {
	background-color: transparent;
	color: #f7f8f8;
	border: none;
	cursor: pointer;
	
}

.tweet .actions button:hover {
	text-decoration: underline;
}

.characters-left {
	color: #f3f5f6;
}

@media screen and (max-width: 600px) {
	nav {
		flex-direction: column;
		height: auto;
	}
	
	nav ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	nav .search-box {
		margin-left: 0;
		margin-top: 10px;
	}
	
	nav .user-box {
		margin-right: 0;
		margin-top: 10px;
	}
	
	.tweet-box textarea {
		height: 120px;
	}
	.padre{
		flex-direction: column;
	}
	.hijo{
		flex-direction: column;
		height: 120px;
	}
	.buton2{
		padding: 20px;
		width: 300px;
	}
}

